.pageWrap{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}
.topBox{
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.bottomBox{
  width: 100%;
  height: 234px;
  position: relative;
}

.middleImage{
  width: auto;
  height: 284px;
}
.logo{
  width: 100px;
  height: 80px;
}
.wellcomeBox{
  display: flex;
  justify-content: center;
}
.wellcomeText{
  width: 240px;
  height: 100px;
}